.errorMessage{
    color: #d74c4c;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
}

.availabilityIcon{
    width: 30px;
    height: 30px;
}

.notFound {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.noBooks {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}