<h3>Details of {{book.title}}</h3>

<form class="mt-4" (ngSubmit)="deleteBook()">

    <div class="form-group row">
        <label class="col-2 col-form-label" style="font-weight: bold;">Title</label>
        <div class="col-10">
            <input class="form-control" type="text" value="{{book.title}}" name="title" readonly/>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-2 col-form-label" style="font-weight: bold;">Description</label>
        <div class="col-10">
            <textarea class="form-control" rows="4" type="text" name="description" readonly>{{book.description}}</textarea>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-2 col-form-label" style="font-weight: bold;">Publication date</label>
        <div class="col-10">
            <input class="form-control" type="text" value="{{book.publicationDate}}" name="publicationDate" readonly/>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-2 col-form-label" style="font-weight: bold;">Number of pages</label>
        <div class="col-10">
            <input class="form-control" type="text" value="{{book.numberOfPages}}" name="numberOfPages"  readonly/>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-2 col-form-label" style="font-weight: bold;">Cost</label>
        <div class="col-10">
            <input class="form-control" type="text" value="{{book.cost}} lei" name="cost" readonly/>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-2 col-form-label" style="font-weight: bold;">Language</label>
        <div class="col-10">
            <input class="form-control" type="text" value="{{book.language}}" name="language" readonly/>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-2 col-form-label" style="font-weight: bold;">Availability</label>
        <div class="col-10">
            <input class="form-control" type="text" value="{{book.availability}}" name="availability" readonly/>
        </div>
    </div>
    
    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4">Delete</button>
        <button type="button" class="btn btn-primary ml-2 mt-4" >Update availability</button>
        <a class="btn btn-secondary ml-2 mt-4" [routerLink]="['/book-list']" role="button">Back</a>    
    </div>
    

</form>

